:root {
  --header-height: 110px;
  --primary-color: #1E3A8A;
  --secondary-color: #FFD700;
  --text-light: #FFFFE0;
  --text-white: #FFFFFF;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  padding-top: var(--header-height);
}